img.searchbar {
    height: 55px;
}
  
form.searchbar {
    display:flex;
    flex-direction:row;
    border: none;
    font-size: 24px;
    width: 525px;
}

input.searchbar {
    flex-grow:2;
    border:none;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
}

input:focus.searchbar {
    outline: none;
}

button.searchbar {
    border: none;
    background-color: #00A2FF;
}