.searchbar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.searchbar #search-box {
    position: absolute;
    width: 400px;
    height: 50px;
    padding: 0 0 0 10px;
    font-size: 24px;
    background-color: black;
    border:none;
    color: white;
}

.searchbar #search-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
}

.searchbar img {
    height: 25px;
}

.searchbar button {
    border: none;
    background-color: #00A2FF;
}
  
.searchbar form {
    display: inline;
    border: none;
    font-size: 24px;
}

.searchbar input:focus {
    outline: none;
}